# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
build

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Local env files
.env
.env.local
.env.*.local
*.local

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# TypeScript
*.tsbuildinfo

# Temporary files
*.swp
*.swo
*~
